
/*====================== Navigation menu ========================*/
nav ul {
	list-style: none;
	padding: 10px 0;
	margin: 0;

}

nav li {
    border-right: 3px solid yellow;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background: #666666;
    margin-top: 2px;
  }

nav li:last-child{
    border-right: none;
}

nav li li{
    border-right: none;
}

nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 0 10px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

nav a:hover {
	background-color: #005f5f;
}

nav a.active {
	background-color: #2db34a;
	color: #FFFFFF;
	cursor: default;
}


/* Sub Menus */
nav li li {
	font-size: .7em;
}

/*nav > ul > li > a {
    padding-left: 10px;
}*/

/* Sub Menus */
nav li ul {
    position: absolute;
    display: none;
    /*width: inherit;*/
}

nav li:hover ul {
	display: block;
	animation: anim_dropdown .8s;
}

/*This is droping down menu when use a keyboard*/
nav li:focus-within ul{
	display: block;
}

nav li ul li {
	display: block;

 }

@keyframes anim_dropdown{
	0% {
		opacity: 0;
		transform: translateY(-60px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

/*Sizing column for a big screen. Singl colomn to three colomn*/
@media screen and (min-width: 700px){
	.column {
		width:30%;
		display: inline-block;
		float: left;
		margin-left: 2%;
	}

	h1{
		font-size: 300%;
	}
}