@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?22730144');
  src: url('../font/fontello.eot?22730144#iefix') format('embedded-opentype'),
      url('../font/fontello.woff?22730144') format('woff'),
       url('../font/fontello.ttf?22730144') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'fontello svg';
    src: url('../font/fontello.eot?22730144');
    src: url('../font/fontello.svg?22730144#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22730144#fontello') format('svg');
  }
}
 
 [class^="icon-brooksus"]:before, [class*=" icon-brooksus"]:before {
  font-family: "fontello svg","fontello" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

.icon-brooksus-heart:before { content: '\e800'; } /* '' */
.icon-brooksus-heart-empty:before { content: '\e801'; } /* '' */
.icon-brooksus-mail:before { content: '\e802'; } /* '' */
.icon-brooksus-mail-alt:before { content: '\e803'; } /* '' */
.icon-brooksus-search:before { content: '\e804'; } /* '' */
.icon-brooksus-th:before { content: '\e805'; } /* '' */
.icon-brooksus-th-list:before { content: '\e806'; } /* '' */
.icon-brooksus-ok:before { content: '\e807'; } /* '' */
.icon-brooksus-cancel:before { content: '\e808'; } /* '' */
.icon-brooksus-help:before { content: '\e809'; } /* '' */
.icon-brooksus-help-circled:before { content: '\e80a'; } /* '' */
.icon-brooksus-lock:before { content: '\e80b'; } /* '' */
.icon-brooksus-lock-open:before { content: '\e80c'; } /* '' */
.icon-brooksus-lock-open-alt:before { content: '\e80d'; } /* '' */
.icon-brooksus-basket:before { content: '\e80e'; } /* '' */
.icon-brooksus-down-dir:before { content: '\e80f'; } /* '' */
.icon-brooksus-up-dir:before { content: '\e810'; } /* '' */
.icon-brooksus-left-dir:before { content: '\e811'; } /* '' */
.icon-brooksus-right-dir:before { content: '\e812'; } /* '' */
.icon-brooksus-down-open:before { content: '\e813'; } /* '' */
.icon-brooksus-left-open:before { content: '\e814'; } /* '' */
.icon-brooksus-right-open:before { content: '\e815'; } /* '' */
.icon-brooksus-up-open:before { content: '\e816'; } /* '' */
.icon-brooksus-angle-left:before { content: '\e817'; } /* '' */
.icon-brooksus-angle-right:before { content: '\e818'; } /* '' */
.icon-brooksus-angle-up:before { content: '\e819'; } /* '' */
.icon-brooksus-angle-down:before { content: '\e81a'; } /* '' */
.icon-brooksus-chart-bar:before { content: '\e81b'; } /* '' */
.icon-brooksus-user:before { content: '\e81c'; } /* '' */
.icon-brooksus-link-ext:before { content: '\e81d'; } /* '' */
.icon-brooksus-home:before { content: '\e81e'; } /* '' */
.icon-brooksus-trash:before { content: '\e81f'; } /* '' */
.icon-brooksus-phone:before { content: '\e820'; } /* '' */
.icon-brooksus-signal:before { content: '\e821'; } /* '' */
.icon-brooksus-target:before { content: '\e822'; } /* '' */
.icon-brooksus-rouble:before { content: '\e823'; } /* '' */
.icon-brooksus-spinner:before { content: '\e824'; } /* '' */
.icon-brooksus-sitemap:before { content: '\e825'; } /* '' */
.icon-brooksus-arrows-cw:before { content: '\e826'; } /* '' */
.icon-brooksus-zoom-in:before { content: '\e827'; } /* '' */
.icon-brooksus-zoom-out:before { content: '\e828'; } /* '' */
.icon-brooksus-login:before { content: '\e829'; } /* '' */
.icon-brooksus-logout:before { content: '\e82a'; } /* '' */
.icon-brooksus-link-ext-alt:before { content: '\e82b'; } /* '' */
.icon-brooksus-plus-squared-alt:before { content: '\e82c'; } /* '' */
.icon-brooksus-plus-squared:before { content: '\e82d'; } /* '' */
.icon-brooksus-plus-circled:before { content: '\e82e'; } /* '' */
.icon-brooksus-plus:before { content: '\e82f'; } /* '' */
.icon-brooksus-cancel-circled2:before { content: '\e830'; } /* '' */
.icon-brooksus-cancel-circled:before { content: '\e831'; } /* '' */
.icon-brooksus-ok-circled:before { content: '\e832'; } /* '' */
.icon-brooksus-ok-circled2:before { content: '\e833'; } /* '' */
.icon-brooksus-ok-squared:before { content: '\e834'; } /* '' */
.icon-brooksus-export-alt:before { content: '\e835'; } /* '' */
.icon-brooksus-export:before { content: '\e836'; } /* '' */
.icon-brooksus-minus:before { content: '\e837'; } /* '' */
.icon-brooksus-minus-circled:before { content: '\e838'; } /* '' */
.icon-brooksus-minus-squared:before { content: '\e839'; } /* '' */
.icon-brooksus-minus-squared-alt:before { content: '\e83a'; } /* '' */
.icon-brooksus-truck:before { content: '\e83b'; } /* '' */


.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}