header {
	background: #666666;
	text-align: center;
	line-height: 200%;
	padding: 15px;
	/*display: table; Нужно для того, чтоб дивы построить в нормльную таблицу/сетку*/
}

h1 {
	font-size: 150%;
	color: #FFFFFF;
	background-color: #B3B3B3;
	text-align: center;
}

nav {
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial, "Times New Roman", serif;
	text-align: left;
}

section {
	line-height: 150%;
	clear: both;
}

ul {
	color: blue;
	font-family: Arial;
}

h2 {
	color: #FFFFFF;
	background-color: #00B7EA;
}

progress, p {
	position: static;
	clear: both;
}

details{
	font-style: italic;
}

summary{
	font-style: normal;
}

/*Gradient*/
header, footer{
	background: #666666;
	background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
	background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
	background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
/*	background: -moz-linear-gradient(#666666 0%, #00b7ea 100%);*/
}

nav a {
	display: inline-block left;
	width: 6%;
	background:#0006CC;
	color: #FFFFFF;
}

#active{
	background: #2db34a;
}
/*Find those value
a[href^="../index"] - ^ beginning
ing[src$='.png'] - $ apply to .png images
a[href*='umich'] - * fond all 'umich'*/

/*a[href="../index.html"]{
	color: #000000;
}*/