footer{
  background: #00b7ea;
  height:100px;
  clear: both;
}

img{
  width: 75px;
}

/*===========================================*/

input {
  display: none;
}

label,
.toggle01 ul {
  border: 1px solid #cecfd5;
  border-radius: 6px;
}
label {
  color: #0087cc;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 5px 9px;
  transition: all .15s ease;
}
label:hover {
  color: #ff7b29;
}
input:checked + label {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #9799a7;
}
nav {
  max-height: 0;
  overflow: hidden;
  transition: all .15s ease;
}
input:checked ~ nav {
  max-height: 500px;
}
.toggle01 ul {
  list-style: none;
  margin: 8px 0 0 0;
  padding: 0;
  width: 130px;
}
.toggle01 li {
  border-bottom: 1px solid #cecfd5;
}
.toggle01 li:last-child {
  border-bottom: 0;
}
.toggle01 a {
  color: #0087cc;
  display: block;
  padding: 3px 6px;
  text-decoration: none;
}
.toggle01 a:hover {
  color: #ff7b29;
}

/*============= Table style ===============*/

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,
td {
  padding: 6px 15px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}